$theme-colors: (
  'info': #f27252,
  'warning': #fadd5c,
  'light': #fff,
);
$dropdown-link-color: #fff;
$dropdown-link-active-color: #fff3e3 !default;
$dropdown-link-active-bg: #ffebd1 !default;
$dropdown-link-hover-color: #ffebd1 !default;
$dropdown-link-hover-bg: #fff3e3 !default;
$dropdown-box-shadow: #ffebd1 !default;
$dropdown-link-disabled-color: #ffebd1 !default;

@import url('https://fonts.googleapis.com/css?family=Quicksand|Red+Hat+Display:900&display=swap');
@import '~bootstrap/scss/bootstrap';

$white: #fff;
$success: #ade667;
$failure: #f27252;
$orange: #f08e05;
$darkorange: #c4770c;


body {
  color: $warning;
  font-family: Quicksand, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

a {
  color: $orange;
}

a:hover {
  color: $darkorange;
}

input[type=text] {
  color: $orange;
}

.right-float {
  // float: right;
  // float: bottom;
  // margin-left:auto;
  // margin-right: 0;
  // display: flex;
  // justify-content: end;
  text-align: right;
  padding: 20px;

}

.keep-largest {
  min-width: 300px;
}

.bottom-buttons {
  padding: 20px;
  // position: fixed;
  // bottom: 5px;
  // right: 5px;
  // text-align: center;
  // display: inline-block;
}

.top-right {
  position: absolute;
  top: 5px;
  right: 5px;
}

.button-margin {
  margin: 5px;
}

.parent-div {
  text-align: center;
}

.content-div {
  text-align: center;
  padding-right: 25%;
  padding-left: 25%;
  display: inline-block;
}

.letter-input {
  // width: 200px;
  display: inline-block;
}

.gameboard {
  text-align: center;
}

.title {
  font-family: Red Hat Display, sans-serif;
}

.word-here {
  font-size: 24px;
  font-weight: bold;
}

.underline {
  text-decoration: underline;

}

.word-board {
  font-size: 16px;

}

.success {
  color: $success;
}

.failure {
  color: $failure;
}
