$theme-colors: (
  'info': #f27252,
  'warning': #fadd5c
);

@import url('https://fonts.googleapis.com/css?family=Quicksand|Red+Hat+Display:900&display=swap');
@import '~bootstrap/scss/bootstrap';

$white: #fff;
$success: #ade667;
$failure: #f27252;


body {
  color: $warning;
  font-family: Quicksand, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

a {
  color: $info;
}

input[type=text] {
  color: $info;
}

.title {
  font-family: Red Hat Display, sans-serif;
}

.word-here {
  font-size: 24px;
  font-weight: bold;
}

.underline {
  text-decoration: underline;

}

.word-board {
  font-size: 16px;

}

.success {
  color: $success;
}

.failure {
  color: $failure;
}
